@import "tailwindcss";



body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            vertical-align: middle;
        }
        .mac-shadow {
            box-shadow: 0 20px 40px rgba(0,0,0,0.4);
        }
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }